<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>


<br/>
<br/>

{{msg}}

<div class="container">
    <form action="http://127.0.0.1:8000/tools/add_tool" method="POST"> {% csrf_token %}
      <div class="row">
        <div class="col">
          <label for="category">Category:</label><br>
          <input type="text" class="form-control" id="category" placeholder="ex: email tool" name="category"><br><br>
        </div>

        <div class="col">
          <label for="name">Name:</label><br>
          <input type="text" class="form-control" id="name" placeholder="Remy" name="name"><br><br>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="url">url:</label><br>
          <input type="text" class="form-control" id="url" placeholder="http://..." name="url">
        </div><br><br>
      
        <div class="col">
          <label for="web_based">Web based:</label><br>
          <select class="form-control" name="web_based" id="web_based">
            <option>Web based</option>
            <option>Desktop</option>
          </select><br><br>
        </div>
      </div>

      <div class="row">
        <div class="col">
         <label for="type">Type:</label><br>
          <select class="form-control"name="type" id="type">
            <option>Learning</option>
            <option>Teaching</option>
          </select><br><br>
        </div>
      
        <div class="col">  
          <label for="free">Free or not:</label><br>
          <select class="form-control"name="free" id="free">
            <option>Free</option>
            <option>Costs Money</option>
          </select><br><br>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="free">Logo:</label><br>
          <input type="text" class="form-control" id="logo" placeholder="ex: www..." name="logo"><br><br>
        </div>

        <div class="col">
          <label for="description">Description:</label><br>
          <input type="text" class="form-control" id="description" placeholder="ex: This tool is...etc" name="description"><br><br>
        </div>
      </div>
      <div class="col">
       <!--  <input type="submit" value="Submit"> -->
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
    </form>
</div>

</body>


</html>