<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

  <script>

  function get_last_days()
  {
    d = document.getElementById("textfield_days").value;
    console.log(d);

    if(d=="")
    {
      d=1;
    }
    document.getElementById("button_days").href = "/tools/last_days="+d

    return d;
  }

  </script>
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:8000/tools#">Tools</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:8000/tools/add_tool">Form</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        By category
      </a>
      <div class="dropdown-menu">
        {% for categ in categories %}

        <a class="dropdown-item" href="http://127.0.0.1:8000/tools/category='{{categ}}'">{{categ}}</a>
        
        {% endfor %}

      </div>
    </li>
  </ul>
</nav>
<br>

<div class="container">

  <form class="form-inline">
    <label class="sr-only" for="inlineFormInputName2">Last n days</label>
    <input id="textfield_days" type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Last n days..">
    <div class="col-auto my-1">
      <button type="button" class="btn btn-link"><a id="button_days" href="" target="_blank" onclick="get_last_days()">filter</a></button>
    </div>
  </form>



	{% autoescape off %}
		{{data}} 
	{% endautoescape %}	



</div>
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
</body>
</html>